*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    background-image: url(/photos/cristmas.jpg);
}

.snow{
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 50%;
    filter: blur(1px);

}
#santa{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 30px;
    transform: scale(2);
    background-image: url("/photos/santa1.png");
    background-repeat: no-repeat;
    background-size: contain;
}